body {
  /* height: 100vh; */
  background-color: #4a4e69;
  color: #f2e9e4;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
}

/* #root {
  height: 100%;
  width: 100%;
} */

.App {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: #f2e9e4;
  text-decoration: none;
}

/* Navbar */
.navbarComponent {
  height: 7vh;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #4a4e69;
  z-index: 1;
}

.navbarBrand {
  color: #9a8c98;
  font-size: 1.5rem;
}

.navbarBrand:focus {
  color: #f2e9e4;
}

.container-fluid button {
  color: #9a8c98;
  border: none;
}

.navbarOffcanvas {
  background-color: #9a8c98;
}

.offcanvas {
  --bs-offcanvas-width: 100vw;
}

/* Login Page */
.loginPage,
.signupPage,
.editProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 90vw;
  padding: 2%;
}

.screen {
  background: #4a4e69;
  position: relative;
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 24px #9a8c98;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  overflow: hidden;
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #fff;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #9a8c98;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #9a8c98, #c9ada7);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #f2e9e4;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.login {
  width: 320px;
  padding: 8%;
  padding-top: 10%;
  color: #c9ada7;
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 30px;
}

.login__input {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}

.login__field ::placeholder {
  color: #c9ada7;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #22223b;
}

.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: #4c489d;
  box-shadow: 0px 2px 2px #5c5696;
  cursor: pointer;
  transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #6a679e;
  outline: none;
}

.loginAdditionalText {
  color: #c9ada7;
  padding: 0 8%;
}

.loginAdditionalText a {
  margin: 0;
  color: #c9ada7;
}

/* Signup Page */
.signupScreen {
  background: #c9ada7;
  position: relative;
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 24px #c9ada7;
}

.screen__background__shape8 {
  height: 520px;
  width: 520px;
  background: #fff;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape6 {
  height: 220px;
  width: 220px;
  background: #4a4e69;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape7 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #9a8c98, #f2e9e4);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape5 {
  height: 400px;
  width: 200px;
  background: #22223b;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

/* Home Page */
.homePage {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.homepageHeader {
  height: 93vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.homepageHeader h1 {
  font-size: 3rem;
  font-family: "Playfair", serif;
  font-style: italic;
  padding: 5%;
}

.btn-scroll {
  border: none;
  background: transparent;
  color: #f2e9e4;
}

#homepageMap {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7vh 0 0 0;
}

.leaflet-container {
  /* position: relative;
  left: 0; */
  margin: 5% 0 0 0;
  box-shadow: 0px 0px 40px #9a8c98;
}

/* Place Detail Page */
.placeDetail {
  /* height: 80vh; */
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

/* Post Detail Component */
.postDetail {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5%;
  /* margin-left: 5%; */
}

.postDetail-container {
  width: 100%;
}

.postDetail img {
  border-radius: 50%;
}

.postDetail p {
  color: #22223b;
}
.postText-container {
  width: 100%;
  height: 100%;
}

.postText-container p {
  text-align: left;
}

/* Footer */
.footer {
  max-height: 10vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Link {
  width: 5%;
}

.footer .row {
  width: 100%;
  height: 5vh;
  margin: 0;
  padding: 0.6% 0%;
  color: gray;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer .row a {
  color: gray;
  text-decoration: none;
}

.footer .row .Link {
  color: gray;
  transition: 0.5s;
  margin: 2%;
}

.footer .row .Link:hover {
  color: #fff;
}

.footer .row ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 60%;
}

.footer .row ul li {
  list-style-type: none;
  width: 100%;
  color: gray;
}

/* myMap Page */
.myMapPage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* postDetail Page */

/* .placeDetail {
  z-index: -1;
} */

.placeDetail-card {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.placeDetail-country {
  display: flex;
  color: #9a8c98;
  border-bottom: #9a8c98 1px solid;
}

.placeDetail-country h2 {
  font-size: 1.5rem;
}

.placeDetail-country img {
  height: 25px;
  margin-right: 10px;
}
.placeDetail-city {
  margin: 1rem;
  color: #5c5696;
  font-size: 2rem;
  font-weight: bold;
}

.comments-container {
  border: #f2e9e4 1px solid;
}

.card-body-comments {
  display: flex;
}

.btn-outline-dark {
  border: #f2e9e4 2px solid;
  background-color: #f2e9e4;
  display: inline-block;
}

.comment-container {
  width: 80vw;
}

.comment-input {
  width: 50vw;
  height: 3rem;
  margin: 1rem;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.comment-btn {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border-radius: 10px;
}

/* Profile */
.profile-page .card {
  background-color: #f7f1ed !important;
}
.profile {
  width: 80vw;
  background: linear-gradient(
    202deg,
    rgba(34, 34, 59, 1) 0%,
    rgba(74, 78, 105, 1) 35%,
    rgba(201, 173, 167, 1) 100%
  );
  margin-bottom: 3rem;
  box-shadow: 0px 0px 24px #9a8c98;
}

.profile img {
  width: 10rem;
  height: 11rem;
  border-radius: 50%;
  box-shadow: 0px 0px 24px #9a8c98;
}

.profile h4 {
  color: #22223b !important;
}

.title-styles h4 {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  color: #f7f1ed;
  letter-spacing: 1px;
  text-transform: uppercase;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.title-styles h4:after,
.title-styles h4:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #f2e9e4;
  border-top: 1px solid #f2e9e4;
  height: 5px;
  background-color: #f7f1ed;
}

.profile-place-card {
  width: 15rem;
}

.profile-place-card .btn-primary,
.profile-place-card .btn-primary:active,
.profile-place-card .btn-primary:visited {
  background-color: #4a4e69 !important;
}

.profile-place-card .btn-primary:hover {
  background-color: #22223b !important;
}

.profile-place-card .title {
  color: #22223b !important;
}

.btn-outline-dark {
  background-color: #4a4e69 !important;
  color: #fff;
  border: none;
}

@media only screen and (max-width: 916px) {
  .profile img {
    width: 6rem;
    height: 6rem;
  }

  .profile-place-card {
    width: 10rem;
  }

  .profile-place-card img {
    width: 3rem;
  }
}

/* Edit Profil page */
.editProfile {
  text-align: center;
  color: #c9ada7;
}

.editProfile h1 {
  padding-top: 10%;
}

.picture__label {
  cursor: pointer;
  font-weight: bold;
  color: #c9ada7;
}

.picture__label:hover {
  color: #6a679e;
}

.picture__input {
  display: none;
}

.edit-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 5%;
}
